@model MVC_ComicBooksCharacters.Models.ComicBookContext
@{
}

<h1 class="text-center font-weight-bolder border border-primary">SUPER HEROS</h1>
<div class="container">
    @foreach (MVC_ComicBooksCharacters.Models.ComicBook c in Model.ComicBooks)
    {
     <div class=" border border-dark rounded text-center">
        <h1 class="font-weight-bold">@c.ComicBookTitle</h1>
        <img class="border border-dark rounded-circle mx-auto d-block" src=@Url.Content(c.ComicBookImage) />
        <p class="border border-dark rounded"><em><strong>@c.ComicBookDesc</strong></em></p>
     </div>
    }
</div>